# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#Display first 5 rows of pycityschools dataset
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
#Create variables for calculations
total_schools = len(school_data_complete['school_name'].value_counts())

#Calculate the Total Number of Students
total_students = len(school_data_complete['Student ID'])

#Calculate the Total Budget
total_budget = sum(school_data_complete['budget'].unique())

#Calculate the Average Math Score
average_math_score = sum(school_data_complete['math_score']) / len(school_data_complete['math_score'])

#Calculate the Average Reading Score
average_reading_score = sum(school_data_complete['reading_score']) / len(school_data_complete['reading_score'])

#Calculate the Overall Passing Rate
overall_average_score = (average_math_score + average_reading_score) / 2

#Calculate the percentage of students with a passing math score (70 or greater)
passing_math_score = school_data_complete.loc[school_data_complete['math_score'] >= 70, :]
passing_math_percentage = (len(passing_math_score) / total_students) * 100
passing_math_percentage

#Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading_score = school_data_complete.loc[school_data_complete['reading_score'] >= 70, :]
passing_reading_percentage = (len(passing_reading_score) / total_students) * 100

In [4]:
#Create DataFrame for District Summary Data
district_summary = {
    'Total Schools': [total_schools],'Total Students': [total_students],
    'Total Budget': [total_budget],
    'Average Math Score': [average_math_score],
    'Average Reading Score': [average_reading_score],
    '% Passing Math': [passing_math_percentage],
    '% Passing Reading': [passing_reading_percentage],
    '% Overall Passing Rate': [overall_average_score]
}
district_summary_df = pd.DataFrame(district_summary)

In [5]:
#Add $, commas and two decimal points to Total Budget result
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

In [6]:
#Round Down columns to 2 decimal places for easier comprehension
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:,.2f}%".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:,.2f}%".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:,.2f}%".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:,.2f}%".format)
district_summary_df["% Overall Passing Rate"] = district_summary_df["% Overall Passing Rate"].map("{:,.2f}%".format)

In [7]:
#District Summary Table
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,"$24,649,428.00",78.99%,81.88%,74.98%,85.81%,80.43%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [8]:
#Group data by School Name & set School Name as the index
school_groups = school_data_complete.set_index('school_name').groupby(['school_name'])

In [9]:
#Create variables for calculations 
school_type = school_data.set_index('school_name')['type']

#Create variable to store total number of students at each school
school_total_students = school_groups['Student ID'].count()

#Create variable to store total school budget
school_budget = school_data.set_index('school_name')['budget']

#Create variable to calculate per student budget
student_budget = school_data.set_index('school_name')['budget']/school_data.set_index('school_name')['size']

#Create variables to store the average math and reading scores at each school
school_average_math = school_groups['math_score'].mean()
school_average_reading = school_groups['reading_score'].mean()

#Create variables to store the percentage of students with passing scores
school_passing_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count()/school_total_students
school_passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/school_total_students 
school_overall_passing = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('school_name')['Student ID'].count()/school_total_students

In [10]:
#Create DataFrame
school_summary = pd.DataFrame({
    "School Type": school_type,
    "Total Students": school_total_students,
    "Per Student Budget": student_budget,
    "Total School Budget": school_budget,
    "Average Math Score": school_average_math,
    "Average Reading Score": school_average_reading,
    "% Passing Math": school_passing_math,
    "% Passing Reading": school_passing_reading,
    "% Overall Passing Rate": school_overall_passing})

In [11]:
#Organize Columns in correct order
school_summary_df = school_summary[['School Type', 
                          'Total Students', 
                          'Total School Budget', 
                          'Per Student Budget', 
                          'Average Math Score', 
                          'Average Reading Score',
                          '% Passing Math',
                          '% Passing Reading',
                          '% Overall Passing Rate']]

In [12]:
#Formatting
school_summary_df.style.format({'Total Students': '{:,}', 
                          "Total School Budget": "${:,}", 
                          "Per Student Budget": "${:.0f}",
                          'Average Math Score': "{:.1f}", 
                          'Average Reading Score': "{:.1f}", 
                          "% Passing Math": "{:.1%}", 
                          "% Passing Reading": "{:.1%}", 
                          "% Overall Passing Rate": "{:.1%}"})

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [13]:
#Sort Values by passing rate then display the top 5 schools
top_5_schools = school_summary_df.sort_values("% Overall Passing Rate", ascending = False)
top_5_schools.head().style.format({'Total Students': '{:,}',
                           "Total School Budget": "${:,}", 
                           "Per Student Budget": "${:.0f}",
                           "Average Math Score": "{:.1f}", 
                           "Average Reading Score": "{:.1f}",
                           "% Passing Math": "{:.1%}", 
                           "% Passing Reading": "{:.1%}", 
                           "% Overall Passing Rate": "{:.1%}"})

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [14]:
#Sort Values by passing rate then display the bottom 5 schools
bottom_5_schools = top_5_schools.tail()
bottom_5_schools = bottom_5_schools.sort_values('% Overall Passing Rate', ascending=False)
bottom_5_schools.style.format({'Total Students': '{:,}', 
                       "Total School Budget": "${:,}", 
                       "Per Student Budget": "${:.0f}", 
                       "% Passing Math": "{:.1%}", 
                       "% Passing Reading": "{:.1%}", 
                       "% Overall Passing Rate": "{:.3%}"})

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [36]:
#Create variables for each grade level average math scores per school 
ninth_math = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["math_score"].mean()
tenth_math = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["math_score"].mean()
eleventh_math = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["math_score"].mean()
twelfth_math = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["math_score"].mean()

In [37]:
#Create DataFrame
math_scores_by_grade = pd.DataFrame({
        "9th": ninth_math,
        "10th": tenth_math,
        "11th": eleventh_math,
        "12th": twelfth_math})

math_scores_by_grade = math_scores_by_grade[['9th', '10th', '11th', '12th']]
math_scores_by_grade.index.name = "School"

#Formatting
math_scores_by_grade.style.format({'9th': '{:.1f}', 
                          "10th": '{:.1f}', 
                          "11th": "{:.1f}", 
                          "12th": "{:.1f}"})

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [38]:
#Create variables for each grade level average reading scores per school 
ninth_reading = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
tenth_reading = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
eleventh_reading = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
twelfth_reading = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["reading_score"].mean()

In [39]:
#Create DataFrame
reading_scores_by_grade = pd.DataFrame({
        "9th": ninth_reading,
        "10th": tenth_reading,
        "11th": eleventh_reading,
        "12th": twelfth_reading})

reading_scores_by_grade = reading_scores_by_grade[['9th', '10th', '11th', '12th']]
reading_scores_by_grade.index.name = "School"

#Formating
reading_scores_by_grade.style.format({'9th': '{:.1f}', 
                             "10th": '{:.1f}', 
                             "11th": "{:.1f}", 
                             "12th": "{:.1f}"})

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [17]:
#Create bins and group names
bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]
school_data_complete['spending_bins'] = pd.cut(school_data_complete['budget']/school_data_complete['size'], bins, labels = group_names)

In [18]:
#Group by spending
spending = school_data_complete.groupby('spending_bins')

In [19]:
#Creating variables for calculations
average_math_spending = spending['math_score'].mean()
average_reading_spending = spending['reading_score'].mean()
passing_math_spending = school_data_complete[school_data_complete['math_score'] >= 70].groupby('spending_bins')['Student ID'].count()/spending['Student ID'].count()
passing_reading_spending = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('spending_bins')['Student ID'].count()/spending['Student ID'].count()
overall_spending = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('spending_bins')['Student ID'].count()/spending['Student ID'].count()

In [20]:
#Create Dataframe            
scores_by_spending = pd.DataFrame({
    "Average Math Score": average_math_spending,
    "Average Reading Score": average_reading_spending,
    "% Passing Math": passing_math_spending,
    "% Passing Reading": passing_reading_spending,
    "% Overall Passing Rate": overall_spending})

In [21]:
#Reorganize columns
scores_by_spending = scores_by_spending[["Average Math Score",
                                         "Average Reading Score",
                                         "% Passing Math",
                                         "% Passing Reading",
                                         "% Overall Passing Rate"]]

scores_by_spending.index.name = "Per Student Budget"
scores_by_spending = scores_by_spending.reindex(group_names)

In [22]:
#Formating
scores_by_spending.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              '%Overall Passing Rate': '{:.1%}'})

## Scores by School Size

* Perform the same operations as above, based on school size.

In [23]:
#Create bins and group names
bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
school_data_complete['size_bins'] = pd.cut(school_data_complete['size'], bins, labels = group_names)

In [24]:
#Group by size
size = school_data_complete.groupby('size_bins')

In [25]:
#Create variables with calculations
average_math_size = size['math_score'].mean()
average_reading_size = size['math_score'].mean()
passing_math_size = school_data_complete[school_data_complete['math_score'] >= 70].groupby('size_bins')['Student ID'].count()/size['Student ID'].count()
passing_reading_size = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('size_bins')['Student ID'].count()/size['Student ID'].count()
overall_size = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('size_bins')['Student ID'].count()/size['Student ID'].count()

In [26]:
#Create DataFrame           
scores_by_size = pd.DataFrame({
    "Average Math Score": average_math_size,
    "Average Reading Score": average_reading_size,
    "% Passing Math": passing_math_size,
    "% Passing Reading": passing_reading_size,
    "% Overall Passing Rate": overall_size})

In [27]:
#Reorganizd columns
scores_by_size = scores_by_size[[
    "Average Math Score",
    "Average Reading Score",
    "% Passing Math",
    "% Passing Reading",
    "% Overall Passing Rate"]]

scores_by_size.index.name = "Total Students"
scores_by_size = scores_by_size.reindex(group_names)

In [28]:
#Formating
scores_by_size.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              '% Overall Passing Rate': '{:.1%}'})

## Scores by School Type

* Perform the same operations as above, based on school type.

In [29]:
# Group by Type of School
school_type_group = school_data_complete.groupby("type")

In [30]:
#Create variables for calculations
average_math_type = school_type_group['math_score'].mean()
average_reading_type = school_type_group['math_score'].mean()
passing_math_type = school_data_complete[school_data_complete['math_score'] >= 70].groupby('type')['Student ID'].count()/school_type_group['Student ID'].count()
passing_reading_type = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('type')['Student ID'].count()/school_type_group['Student ID'].count()
overall_type = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('type')['Student ID'].count()/school_type_group['Student ID'].count()

In [31]:
#Create DataFrame           
scores_by_type = pd.DataFrame({
    "Average Math Score": average_math_type,
    "Average Reading Score": average_reading_type,
    "% Passing Math": passing_math_type,
    "% Passing Reading": passing_reading_type,
    "% Overall Passing Rate": overall_type})

In [32]:
#Reorganize columns
scores_by_type = scores_by_type[["Average Math Score",
                                 "Average Reading Score",
                                 "% Passing Math",
                                 "% Passing Reading",
                                 "% Overall Passing Rate"]]
scores_by_type.index.name = "Type of School"

In [33]:
#Formating
scores_by_type.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              '%Overall Passing Rate': '{:.1%}'})

## Observations

1.) The first trend I noticed after filtering through all of this data is it appears that generally the smaller of a school you go to, the better you tend to do in school. Schools of 1000 students or less had higher scores across the board, with socres only dropping as you climb every level of school size. Particularly in the math scores you see a significant difference between school sizes.

2.) The second trend I noticed is after filtering the data of budget per student, it appears that the more you spend on a student the worse off they are. One would expect the more you spend on a student the better their education would be so this outcome was surprising. The range of spending is not very significant when you notice that from bottom to top tier there is only about a difference of $100, and we do not have details on how exactly that money was allocated. If a majority went to school uniforms, then that would most likely have less of an effect if say the extra money was put towards hiring a private tutor.